.box-layout {
  align-items: center;
  background: url('/images/bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 50vw;
}

// .box-layout__box {
//   background: fade-out(white, 0.15);
//   border-radius: 3px;
//   padding: $l-size $m-size;
//   text-align: center;
//   width: 25rem;
// }

// .box-layout__title {
//   margin: 0 0 $m-size 0;
//   line-height: 1;
// }

.burner-box {
  display: flex;
  width: 100vw;
}

.form-box {
  width: 50vw;
  padding: 2rem 5rem;

  &__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 3rem;
  }
}

.or-text {
  margin-bottom: 2.4rem;
  width: 80%;
  display: flex;
  align-items: center;

  &__bar {
    flex: auto;
    border: none;
    height: 1px;
    background-color: #aaa;
  }

  &__text {
    padding: 0 0.5rem;
  }
}
